<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terraform Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body { display: flex; flex-direction: column; align-items: center; margin-top: 20px; }
        .folder-list { position: absolute; left: 20px; }
        .modal-body { max-height: calc(100vh - 210px); overflow-y: auto; }
        .create-vm { position: absolute; top: 20px; right: 20px; }
    </style>
</head>
<body>
<div class="folder-list">
    <h2>Terraform Server</h2>
    <ul class="list-group">
        {% for folder in folders %}
            <li class="list-group-item {% if check_vm_exists(folder) %}list-group-item-success{% else %}list-group-item-danger{% endif %}" style="cursor:pointer;" data-toggle="modal" data-target="#serverDetailsModal" onclick="loadServerDetails('{{ folder }}')">{{ folder }}</li>
        {% endfor %}
    </ul>
</div>
<a href="/create_vm" class="btn btn-primary create-vm">VM Erstellen</a>

<!-- Modal -->
<div class="modal fade" id="serverDetailsModal" tabindex="-1" role="dialog" aria-labelledby="serverDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serverDetailsModalLabel">Server Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Server details will be loaded here -->
            </div>
        </div>
    </div>
</div>
<script>
function loadServerDetails(serverName) {
    $.ajax({
        url: `/server_details/${serverName}`,
        type: 'GET',
        success: function(response) {
            const terraform = response.terraform;
            const vcenter = response.vcenter;
            let detailsHtml = '<h5>Terraform Details</h5>';

            // Vergleiche Terraform- und vCenter-Daten und markiere Unterschiede
            Object.keys(terraform).forEach(key => {
                const terraformValue = terraform[key];
                const vcenterValue = vcenter[key];
                const valueMatch = terraformValue === vcenterValue || vcenterValue === 'xxx';
                const displayValue = terraformValue === 'Nicht definiert' ? 'Nicht definiert' : terraformValue;
                const colorClass = valueMatch ? '' : 'text-danger';

                detailsHtml += `<div class="detail-item ${colorClass}"><strong>${key.replace(/_/g, ' ')}:</strong> ${displayValue}</div>`;
            });

            $('#serverDetailsModal .modal-body').html(detailsHtml);
        },
        error: function(error) {
            console.log(error);
            $('#serverDetailsModal .modal-body').html('Fehler beim Laden der Details.');
        }
    });
}
</script>
</body>
</html>
